/* @font-face {
    font-family: 'Roboto';
    src: url('roboto.eot'); /* IE9 Compat Modes */
    /* src: url('roboto.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    /* url('roboto.woff') format('woff'), /* Modern Browsers */
    /* url('roboto.ttf')  format('truetype'), /* Safari, Android, iOS */
    /* url('roboto.svg#svgFontName') format('svg'); /* Legacy iOS */
  /* } */  

  @font-face {
    font-family: 'IBMPLEXMono-Bold';
    src: url('../assets/fonts/IBMPlexMono-Bold.ttf');
  }
  @font-face {
    font-family: 'IBMPLEXMono-Medium';
    src: url('../assets/fonts/IBMPlexMono-Medium.ttf');
  }
  @font-face {
    font-family: 'IBMPLEXMono-Regular';
    src: url('../assets/fonts/IBMPlexMono-Regular.ttf');
  }
  @font-face {
    font-family: 'IBMPLEXMono-SemiBold';
    src: url('../assets/fonts/IBMPlexMono-SemiBold.ttf');
  }
  @font-face {
    font-family: 'Roboto-Black';
    src: url('../assets/fonts/Roboto-Black.ttf');
  }
  @font-face {
    font-family: 'Roboto-BlackItalic';
    src: url('../assets/fonts/Roboto-BlackItalic.ttf');
  }
  @font-face {
    font-family: 'roboto-bold-condensed_[allfont.net]';
    src: url('../assets/fonts/roboto-bold-condensed_[allfont.net].ttf');
  }
  @font-face {
    font-family: 'Roboto-Bold';
    src: url('../assets/fonts/Roboto-Bold.ttf');
  }
  @font-face {
    font-family: 'Roboto-BoldItalic';
    src: url('../assets/fonts/Roboto-BoldItalic.ttf');
  }
  @font-face {
    font-family: 'Roboto-Condensed';
    src: url('../assets/fonts/Roboto-Condensed.ttf');
  }
  @font-face {
    font-family: 'Roboto-Italic';
    src: url('../assets/fonts/Roboto-Italic.ttf');
  }
  @font-face {
    font-family: 'Roboto-Light';
    src: url('../assets/fonts/Roboto-Light.ttf');
  }
  @font-face {
    font-family: 'Roboto-LightItalic';
    src: url('../assets/fonts/Roboto-LightItalic.ttf');
  }
  @font-face {
    font-family: 'Roboto-Medium';
    src: url('../assets/fonts/Roboto-Medium.ttf');
  }
  @font-face {
    font-family: 'Roboto-MediumItalic';
    src: url('../assets/fonts/Roboto-MediumItalic.ttf');
  }
  @font-face {
    font-family: 'Roboto-Regular';
    src: url('../assets/fonts/Roboto-Regular.ttf');
  }
  @font-face {
    font-family: 'Roboto-Thin';
    src: url('../assets/fonts/Roboto-Thin.ttf');
  }
  @font-face {
    font-family: 'Roboto-ThinItalic';
    src: url('../assets/fonts/Roboto-ThinItalic.ttf');
  }
  @font-face {
    font-family: 'RobotoCondensed-Bold';
    src: url('../assets/fonts/RobotoCondensed-Bold.ttf');
  }
  @font-face {
    font-family: 'RobotoCondensed-BoldItalic';
    src: url('../assets/fonts/RobotoCondensed-BoldItalic.ttf');
  }
  @font-face {
    font-family: 'RobotoCondensed-Italic';
    src: url('../assets/fonts/RobotoCondensed-Italic.ttf');
  }
  @font-face {
    font-family: 'RobotoCondensed-Light';
    src: url('../assets/fonts/RobotoCondensed-Light.ttf');
  }
  @font-face {
    font-family: 'RobotoCondensed-LightItalic';
    src: url('../assets/fonts/RobotoCondensed-LightItalic.ttf');
  }
  @font-face {
    font-family: 'RobotoCondensed-Regular';
    src: url('../assets/fonts/RobotoCondensed-Regular.ttf');
  }
  @font-face {
    font-family: 'RobotoMono-Italic-VariableFont_wght';
    src: url('../assets/fonts/RobotoMono-Italic-VariableFont_wght.ttf');
  }
  @font-face {
    font-family: 'RobotoMono-VariableFont_wght';
    src: url('../assets/fonts/RobotoMono-VariableFont_wght.ttf');
  }

.programs-title {
    font-family: 'IBMPLEXMono-SemiBold';
    /* font-size: 29pt; */
}
.new-activities {
    font-family: 'IBMPLEXMono-SemiBold';
}
.blog {
    font-family: 'IBMPLEXMono-SemiBold';
}
.partners-donators {
    font-family: 'IBMPLEXMono-SemiBold';
}
.nav-link {
    font-family: 'IBMPLEXMono-SemiBold';
    color: #111;
    /* font-size: 20pt; */
}
body {
    font-family: 'Roboto', sans-serif;
    /* font-size: 48px; */
}
.card {
    width: 100%;
}
.right-inner-addon i {
    position: absolute;
    right: 119px;
    padding: 10px 12px;
    pointer-events: none;
}
input.form-control {
    border-bottom: 2px solid #111;
    border-right: 2px solid #111;
}
.col-xs-6 {
    margin-right: 4px;
}
.img-fluid {
      width: 100%;
  }
.logo-image {
    margin-top: 2px;
    width: 268px;
    height: 48px;
}
#e-opstestvo {
    width: 100%;
    height: auto;
}
.follow_us_on {
    margin-left: 3rem;
    margin-top: 8px;
}
#navbarSupportedContent {
    height: 1.0625rem;
    margin-left: 1.1875rem;
}
.container > .row > .col-md-3.test > a > img:hover {
    /* content:url("assets/images/image_1_hover.png") no-repeat; */
    background-color: blueviolet;
}
.col-sm-12 {
    width: 100%;
}
.container-fluid .row .col-md-12 img {
    height: 20rem;
}
/* .container > .row > .col-md-3 > a.mediumi_za_demokratija:hover {
    background: url("assets/images/image_1_hover.png") no-repeat;
}  */
hr {
    width: 100%;
    background-color: #111;
    margin-bottom: 0rem !important;
}
p.privacy_policy {
    vertical-align: middle;
    text-align: center;
    margin-top: 60px;
}
.container .row .col-md-5.where a img {
    width: 25rem;
}
.container .row .col-md-2 a img.lorem_ipsum.img-fluid {
    width: 10rem;
    height: 23rem;
}
.container .row .col-md-5.hakaton a img {
    width: 29rem;
}
footer {
    background-color: rgb(233, 218, 152);
    width: 100%;
}

/* #mediumi_za_demokratija:hover {
    background-image: url("assets/images/image_1_hover");
} */
/* .fa-search {
    margin-right: 40px;
} */
/* .mediumski_proekti {
    float: right;
    top: 0;
} */
.mediumski_proekti {
    font-family: 'IBMPLEXMono-SemiBold';
    float: right;
    margin-bottom: 0rem !important;
}

.row.equal-cols {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  
  .row.equal-cols:before,
  .row.equal-cols:after {
    display: block;
  }
  
  .row.equal-cols > [class*='col-'] {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  
  .row.equal-cols > [class*='col-'] > * {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto; 
  }

@media screen and (max-width: 768px) {
    .container > .row > .col-md-2 > a > img {
        width: 100% !important;
    }
  } 
  @media screen and (max-width: 768px) {
    .right-inner-addon i {
        position: absolute;
        right: 24px;
        padding: 10px 12px;
        pointer-events: none;
    }
  }
@media (min-width: 768px) and (max-width: 1024px) {
    .container > .row > .col-md-2 > a > img {
        margin-top: 0;
    }
    .container > .row > .hakaton > a > img {
        height: 100%;
    }
    .container > .row > .where > a > img {
        height: 100%;
    }
    .container > .partneri {
        height: 30%;
    }
    .navbar {
        display: block;
    }
  }
@media screen and (max-width: 425px) {
    .mediumski_proekti {
        float: none;
    }
    nav button {
        margin-top: 8px;
    }
    .container .row p {
        margin-left: 1rem
    }
    
  }
@media screen and (min-width:1024px) {
    .container .row p.follow_us_on {
        margin-left: 7rem;
    }
  }
@media screen and (min-width:990px) and (max-width:1200px){
    nav.navbar {
        /* display: block; */
        display: inline-block;
    }
}  
